*{
    padding: 0;
    margin:  0;
}

header{
    width: 100vw;
    height: 50vh;
    background-color: #000000;
    margin-top: -10px;
    border-radius: 5px 0 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    height: 160vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 30px;
    background-color:#cacaca;
    gap: 20px;
    padding: 10px;
}
.cont2{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    gap: 20px;
    flex-wrap: wrap;    
}
.main{
    height: 20vw;
    width: 25vw;
    border: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    align-items: center;
    border-radius:  10px;
    border-style: solid;
}
.main_hoje{
    height: 40vh;
    width: 45vw;
    border: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    align-items: center;
    border-radius:  10px;
    box-shadow: 10px 0 30px #000;
}
p{
    color: #000000;
}
span{
    color: #000000;
}
.cidade{
    color: white;
    font-size: 50px;
}
.rgb{
    width: 100vw;
    height: 2vh;
    background: rgb(14,0,255);
    background: linear-gradient(90deg, rgba(14,0,255,1) 0%, rgba(244,0,255,1) 20%, rgba(0,255,252,1) 40%, rgba(0,255,21,1) 60%, rgba(255,239,0,1) 80%, rgba(255,0,0,1) 100%);
    margin-top: -20px;
}
